$darksquare-color: rgb(61, 38, 4)
$lightsquare-color: rgb(236, 236, 147)
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

html
    font: 10px sans-serif

body
    font-size: 1.6rem    

#root
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh

a
    text-decoration: none

.main
    display: flex
    .navbar, .controlpanel
        display: flex
        flex-direction: column
        width: 3em
        min-height: 100%
    .navbar
        margin: 0 1em 0 0
        border: 3px solid $darksquare-color
        background-color: $lightsquare-color
        box-shadow: -5px 5px 10px $darksquare-color
        .navbutton
            display: flex
            justify-content: center
            align-items: center
            height: 10%
            width: 100%
            color: $darksquare-color
            background-color: $lightsquare-color
            border-bottom: 1px solid $darksquare-color
            &:last-child
                border-bottom: none
            &.active
                background-color: $darksquare-color
                color: $lightsquare-color
    .board
        min-width: 320px
        min-height: 320px
        width: 75vmin
        height: 75vmin
        border: 3px solid $darksquare-color
        padding: 1.5em
        position: relative
        box-shadow: 0px 5px 10px $darksquare-color
        .squares
            width: 100%
            height: 100%
            display: flex
            flex-wrap: wrap
            border: 1px solid $darksquare-color
    .controlpanel
        margin: 0 0 0 1em
        box-shadow: 5px 5px 10px $darksquare-color
        border: 3px solid $darksquare-color
        .controlbutton, .interval
            border-bottom: 3px solid $darksquare-color
            background-color: $lightsquare-color
            height: 16%
            display: flex
            justify-content: center
            align-items: center
            &:last-child
                border-bottom: none
        .interval
            height: 20%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

.boardlabel
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    color: $darksquare-color
    p
        font-weight: 600
        font-size: 0.8em

.toplabel, .bottomlabel
    flex-direction: row
    left: 1.5em
    right: 1.5em
    p
        text-align: center
        width: 12.5%

.leftlabel, .rightlabel
    flex-direction: column
    top: 1.5em
    bottom: 1.5em
    p
        display: flex
        align-items: center
        height: 12.5%

.leftlabel
    left: 0
    width: 1.5em

.rightlabel
    right: 0
    width: 1.5em

.toplabel
    top: 0px
    height: 1.5em

.bottomlabel
    bottom: 0px
    height: 1.5em

.square
    width: 12.5%
    height: 12.5%
    a
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        font-weight: 600

.darksquare
    background-color: $darksquare-color
    a
        color: $lightsquare-color

.lightsquare
    background-color: $lightsquare-color
    a
        color: $darksquare-color

@media (orientation: portrait)
    .main
        flex-direction: column
        .navbar, .controlpanel
            flex-direction: row
            width: 100%
            height: 3em
        .board
            box-shadow: 0px 0px 15px $darksquare-color
        .navbar
            margin: 0 0 1em 0
            box-shadow: 0px -5px 10px $darksquare-color
            .navbutton
                width: 10%
                height: 100%
                border: none
                border-right: 1px solid $darksquare-color
                &:last-child
                    border: none
                    border-right: none
        .controlpanel
            margin: 1em 0 0 0
            box-shadow: 0px 5px 10px $darksquare-color
            .controlbutton, .interval
                border-bottom: none
                border-right: 3px solid $darksquare-color
                width: 16%
                height: 100%
                &:last-child
                    border-right: none
            .interval
                width: 20%